

body{
  background-color: rgb(8, 0, 54);
  font-family: Arial, Helvetica, sans-serif;
}
/* header */
h1{
  margin: 0;
  padding-top: 15px;
  color: white;
  text-align: center;
}
#game-size {
  margin: auto;
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
}
#game-size button{
  background-color: black;
  color: white;
  font-size: 32px;
  margin: 15px;
  padding: 10px;
  border: white solid 3px;
  border-radius: 10px;
}
#game-size button:hover{
  background-color: blue;
  cursor: pointer;
}

#new-game-div{
  display: flex;
  justify-content: center;
  margin: 10px;
}
#new-game{
  background-color: blue;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 8px;
  opacity: .8;
  display: none;
}
#new-game:hover{
  opacity: 1;
  cursor: pointer;
}


/* game board table */
#game{
  margin: 5% 0;
  display: flex;
  justify-content: center;
}


#board td {
  width: 50px;
  height: 50px;
  background-color: blue;
  border: #666 solid 1px;
  border-radius: 5px;
}

/* pieces are div within game table cells: draw as colored circles */

/* animation */
@keyframes drop {
  from{
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}
.fall{
  animation-name: drop;
  animation-duration: 500ms;
}
.piece {
  /* TODO: make into circles */
  border: solid black 2px;
  border-radius: 50%;
  margin: 5px;
  width: 80%;
  height: 80%;
  position: relative;
  animation-name: drop;
} 

/* TODO: make pieces red/blue(chose yellow),  depending on player 1/2 piece */
.playerRed{
  background-color: rgb(230, 27, 27);
}

.playerYellow{
  background-color: yellow;
}



/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  background-color: rgb(0, 140, 255);
}

#column-top td:hover {
  background-color: gold;
  cursor: pointer;
}

/* coin flip */

#coin-container{
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 70, 170, 0.822);
}

#coin{
  background-color: orange;
  border: solid black 2px;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

#coin:hover{
  cursor: pointer;
  
}
#coin:focus{
  outline: none;
}

#coin.red-coin{
  animation: flipCoin 3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#coin.yellow-coin{
  animation: flipCoin 3s ease-out;
  color: black;
}

@keyframes flipCoin{
  from{
    transform: rotateY(0)
  }
  to{
    transform: rotateY(900deg);
  }

}
